## Observations and Insights

In [84]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

#print
mouse_metadata
study_results

# Combine the data into a single dataset
combined_df = pd.merge(mouse_metadata, study_results)
# Display the data table for preview
combined_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [85]:
# Checking the number of mice.
mouse_num = len(combined_df['Mouse ID'].unique())
print(f'Total Mice: {mouse_num}')

Total Mice: 249

In [86]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
mouse_num_grouped = combined_df.groupby("Mouse ID")
mouse_num_grouped

In [87]:
id_tp = mouse_num_grouped["Timepoint"].unique()
id_tp

Mouse ID
a203    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a251    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a262    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a275    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a366                [0, 5, 10, 15, 20, 25, 30]
                         ...
z435                                [0, 5, 10]
z578    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
z581    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
z795    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
z969    [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
Name: Timepoint, Length: 249, dtype: object

In [88]:
tp_df = pd.DataFrame({"Timepoint": id_tp})
tp_df

                                       Timepoint
Mouse ID
a203      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a251      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a262      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a275      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a366                  [0, 5, 10, 15, 20, 25, 30]
...                                          ...
z435                                  [0, 5, 10]
z578      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
z581      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
z795      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
z969      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

[249 rows x 1 columns]

In [89]:
# Optional: Get all the data for the duplicate mouse ID.

In [90]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
tp_df = pd.DataFrame({"Timepoint": id_tp})
tp_df

                                       Timepoint
Mouse ID
a203      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a251      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a262      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a275      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
a366                  [0, 5, 10, 15, 20, 25, 30]
...                                          ...
z435                                  [0, 5, 10]
z578      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
z581      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
z795      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
z969      [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

[249 rows x 1 columns]

In [91]:
# Checking the number of mice in the clean DataFrame.
new_mouse_num = len(tp_df)
print(f'New Mice Number: {new_mouse_num}')

New Mice Number: 249

## Summary Statistics

In [94]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
summary_df = combined_df.groupby('Drug Regimen')

In [95]:
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
tum_mean = summary_df['Tumor Volume (mm3)'].mean()
tum_mean

Drug Regimen
Capomulin    40.675741
Ceftamin     52.591172
Infubinol    52.884795
Ketapril     55.235638
Naftisol     54.331565
Placebo      54.033581
Propriva     52.322552
Ramicane     40.216745
Stelasyn     54.233149
Zoniferol    53.236507
Name: Tumor Volume (mm3), dtype: float64

In [96]:
tum_med = summary_df['Tumor Volume (mm3)'].median()
tum_med

Drug Regimen
Capomulin    41.557809
Ceftamin     51.776157
Infubinol    51.820584
Ketapril     53.698743
Naftisol     52.509285
Placebo      52.288934
Propriva     50.854632
Ramicane     40.673236
Stelasyn     52.431737
Zoniferol    51.818479
Name: Tumor Volume (mm3), dtype: float64

In [103]:
tum_var = summary_df['Tumor Volume (mm3)'].var()
tum_var

Drug Regimen
Capomulin    24.947764
Ceftamin     39.290177
Infubinol    43.128684
Ketapril     68.553577
Naftisol     66.173479
Placebo      61.168083
Propriva     42.351070
Ramicane     23.486704
Stelasyn     59.450562
Zoniferol    48.533355
Name: Tumor Volume (mm3), dtype: float64

In [98]:
tum_std = summary_df['Tumor Volume (mm3)'].std()
tum_std

Drug Regimen
Capomulin    4.994774
Ceftamin     6.268188
Infubinol    6.567243
Ketapril     8.279709
Naftisol     8.134708
Placebo      7.821003
Propriva     6.507770
Ramicane     4.846308
Stelasyn     7.710419
Zoniferol    6.966589
Name: Tumor Volume (mm3), dtype: float64

In [99]:
tum_sem = summary_df['Tumor Volume (mm3)'].sem()
tum_sem

Drug Regimen
Capomulin    0.329346
Ceftamin     0.469821
Infubinol    0.492236
Ketapril     0.603860
Naftisol     0.596466
Placebo      0.581331
Propriva     0.512884
Ramicane     0.320955
Stelasyn     0.573111
Zoniferol    0.516398
Name: Tumor Volume (mm3), dtype: float64

In [105]:
# Assemble the resulting series into a single summary dataframe.
tumor_df = pd.DataFrame({'Mean': tum_mean, 'Median': tum_med, 'Variance': tum_var, 'Standard Deviation': tum_std, 'Standard Error of Mean': tum_sem})
tumor_df

,Mean,Median,Variance,Standard Deviation,Standard Error of Mean
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.322552,50.854632,42.351070,6.507770,0.512884
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [119]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
Capomulin = pd.DataFrame(tumor_df.iloc[0])
Capomulin

                        Capomulin
Mean                    40.675741
Median                  41.557809
Variance                24.947764
Standard Deviation       4.994774
Standard Error of Mean   0.329346

In [121]:
Cefatmin = pd.DataFrame(tumor_df.iloc[1])
Infubinol = pd.DataFrame(tumor_df.iloc[2])
Ketpril = pd.DataFrame(tumor_df.iloc[3])
Naftisol = pd.DataFrame(tumor_df.iloc[4])
Placebo = pd.DataFrame(tumor_df.iloc[5])
Propriva = pd.DataFrame(tumor_df.iloc[6])
Ramicane = pd.DataFrame(tumor_df.iloc[7])
Stelasyn = pd.DataFrame(tumor_df.iloc[8])
Zoniferol = pd.DataFrame(tumor_df.iloc[9])

In [124]:
Cefatmin

                         Ceftamin
Mean                    52.591172
Median                  51.776157
Variance                39.290177
Standard Deviation       6.268188
Standard Error of Mean   0.469821

In [125]:
Infubinol

                        Infubinol
Mean                    52.884795
Median                  51.820584
Variance                43.128684
Standard Deviation       6.567243
Standard Error of Mean   0.492236

In [126]:
Ketpril

                         Ketapril
Mean                    55.235638
Median                  53.698743
Variance                68.553577
Standard Deviation       8.279709
Standard Error of Mean   0.603860

In [127]:
Naftisol

                         Naftisol
Mean                    54.331565
Median                  52.509285
Variance                66.173479
Standard Deviation       8.134708
Standard Error of Mean   0.596466

In [128]:
Placebo

                          Placebo
Mean                    54.033581
Median                  52.288934
Variance                61.168083
Standard Deviation       7.821003
Standard Error of Mean   0.581331

In [129]:
Propriva

                         Propriva
Mean                    52.322552
Median                  50.854632
Variance                42.351070
Standard Deviation       6.507770
Standard Error of Mean   0.512884

In [130]:
Ramicane

                         Ramicane
Mean                    40.216745
Median                  40.673236
Variance                23.486704
Standard Deviation       4.846308
Standard Error of Mean   0.320955

In [131]:
Stelasyn

                         Stelasyn
Mean                    54.233149
Median                  52.431737
Variance                59.450562
Standard Deviation       7.710419
Standard Error of Mean   0.573111

In [132]:
Zoniferol

                        Zoniferol
Mean                    53.236507
Median                  51.818479
Variance                48.533355
Standard Deviation       6.966589
Standard Error of Mean   0.516398

In [133]:
# Using the aggregation method, produce the same summary statistics in a single line
tumor_df.agg(['Mean', 'Median', 'Variance','Standard Deviation','Standard Error of Mean'])

AttributeError: 'Mean' is not a valid function for 'Series' object

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen